In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Qaanaaq,77.4840,-69.3632,-21.48,68,79,2.55,GL,2021-02-03 18:45:11
1,1,Rikitea,-23.1203,-134.9692,77.92,72,19,13.44,PF,2021-02-03 18:45:11
2,2,Albany,42.6001,-73.9662,33.01,68,100,8.99,US,2021-02-03 18:45:11
3,3,Jaguey Grande,22.5269,-81.1286,69.80,52,40,9.22,CU,2021-02-03 18:45:11
4,4,Umm Bab,25.2142,50.8072,64.99,63,1,6.91,QA,2021-02-03 18:45:11

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
   temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Rikitea,-23.1203,-134.9692,77.92,72,19,13.44,PF,2021-02-03 18:45:11
8,8,Adrar,20.5022,-10.0711,70.43,22,0,3.20,MR,2021-02-03 18:45:12
9,9,Hadejia,12.4498,10.0444,76.12,17,0,10.27,NG,2021-02-03 18:40:20
13,13,Mar Del Plata,-38.0023,-57.5575,71.60,68,40,12.66,AR,2021-02-03 18:42:24
16,16,Broken Hill,-31.9500,141.4333,71.60,28,100,9.22,AU,2021-02-03 18:45:12
19,19,Cape Town,-33.9258,18.4232,71.01,73,0,16.11,ZA,2021-02-03 18:43:22
20,20,Hilo,19.7297,-155.0900,70.00,68,1,9.22,US,2021-02-03 18:45:13
25,25,Cockburn Town,21.4612,-71.1419,75.20,57,40,9.22,TC,2021-02-03 18:45:13
26,26,Mahebourg,-20.4081,57.7000,80.60,83,40,9.22,MU,2021-02-03 18:45:13
28,28,Dingle,10.9995,122.6711,73.89,92,63,7.63,PH,2021-02-03 18:45:13

In [13]:
preferred_cities_df.notnull().sum()

City_ID       202
City          202
Lat           202
Lng           202
Max Temp      202
Humidity      202
Cloudiness    202
Wind Speed    202
Country       201
Date          202
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1         Rikitea      PF     77.92 -23.1203 -134.9692
8           Adrar      MR     70.43  20.5022  -10.0711
9         Hadejia      NG     76.12  12.4498   10.0444
13  Mar Del Plata      AR     71.60 -38.0023  -57.5575
16    Broken Hill      AU     71.60 -31.9500  141.4333
19      Cape Town      ZA     71.01 -33.9258   18.4232
20           Hilo      US     70.00  19.7297 -155.0900
25  Cockburn Town      TC     75.20  21.4612  -71.1419
26      Mahebourg      MU     80.60 -20.4081   57.7000
28         Dingle      PH     73.89  10.9995  122.6711

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,77.92,-23.1203,-134.9692,Pension Maro'i
8,Adrar,MR,70.43,20.5022,-10.0711,
9,Hadejia,NG,76.12,12.4498,10.0444,Kasuwar Kuda Hadejia General Hospital Road
13,Mar Del Plata,AR,71.60,-38.0023,-57.5575,
16,Broken Hill,AU,71.60,-31.9500,141.4333,Royal Exchange Hotel
...,...,...,...,...,...,...
550,Bentiu,SS,87.85,9.2333,29.8333,Mandela hôtel
551,Sorong,ID,81.39,-0.8833,131.2500,The Waigo Hotel
553,Kirakira,SB,78.71,-10.4544,161.9205,SanBiz Lodge
558,Benguela,AO,76.66,-12.5763,13.4055,Hotel Praia Morena
561,Cordoba,AR,82.00,-31.4135,-64.1811,Sheraton Cordoba Hotel

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))