## Deliverable 3. Create a Travel Itinerary Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [18]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Castro,BR,76.33,clear sky,-24.7911,-50.0119,CHACARA BAILLY
1,11,Barao De Melgaco,BR,89.60,broken clouds,-16.1944,-55.9675,Tuiuiu Pantanal Hotel
2,14,Maragogi,BR,82.89,overcast clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
3,18,Rikitea,PF,77.65,overcast clouds,-23.1203,-134.9692,Pension Maro'i
4,29,Butaritari,KI,81.03,light rain,3.0707,172.7902,Isles Sunset Lodge

In [19]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0   -24.7911  -50.0119
1   -16.1944  -55.9675
2    -9.0122  -35.2225
3   -23.1203 -134.9692
4     3.0707  172.7902
..       ...       ...
184  12.2188  125.4808
185 -11.0964  -77.6139
186  21.8525  -78.1169
187   3.6500   10.7667
188   7.0627   -1.4001

[189 rows x 2 columns]

In [20]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == "Castro") & (vacation_df['Country'] == "BR")]
vacation_end = vacation_df.loc[(vacation_df['City'] == "Castro") & (vacation_df['Country'] == "BR")]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == "Horqueta") & (vacation_df['Country'] == "PY")]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == "Cerqueira Cesar") & (vacation_df['Country'] == "BR")] 
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == "Hortolandia") & (vacation_df['Country'] == "BR")]

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
driving_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(driving_itinerary)

fig = gmaps.figure()
bicycling_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='BICYCLING')

fig.add_layer(bicycling_itinerary)

fig = gmaps.figure()
walking_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='WALKING')

fig.add_layer(walking_itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Castro,BR,76.33,clear sky,-24.7911,-50.0119,CHACARA BAILLY
1,578,Horqueta,PY,85.48,clear sky,-23.3428,-57.0597,Hospedaje Heina
2,205,Cerqueira Cesar,BR,78.49,scattered clouds,-23.0356,-49.1661,Pousada São Jorge
3,147,Hortolandia,BR,86.00,light rain,-22.8583,-47.2200,Druds Hotel Hortolândia

In [34]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
</dl>
"""



# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))